<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title" th:text="${recipe.description}">Recipe name</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            Categories:
                        </div>
                        <div class="col-md-9">
                            <ul>
                                <li th:each="category: ${recipe.categories}">
                                    <span th:text="${category.name}">Category</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Recipe preparation time:
                        </div>
                        <div class="col-md-9">
                            <span th:text="@{${recipe.prepTime} + ' Min'}">prepTime</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Recipe cooking time:
                        </div>
                        <div class="col-md-9">
                            <span th:text="@{${recipe.cookTime} + ' Min'}">cookTime</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Source:
                        </div>
                        <div class="col-md-9">
                            <span th:text="@{${recipe.source} + ' Min'}">source</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Number of servings:
                        </div>
                        <div class="col-md-9">
                            <span th:text="${recipe.servings}">servings</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Recipe URL:
                        </div>
                        <div class="col-md-9">
                            <a th:href="${recipe.url}"><span th:text="${recipe.url}">url</span></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Difficulty:
                        </div>
                        <div class="col-md-9">
                            <span th:text="${recipe.difficulty}">difficulty</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Ingredients</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li th:each="ingredient: ${recipe.ingredients}">
                                    <span th:text="@{'' + ${ingredient.description} + ': ' + ${ingredient.amount} + ' ' + ${ingredient.unitOfMeasure.name}}">Ingredient, Amount, Unit of measure</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Directions</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.directions}">Directions</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Notes</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.note.notes}">Notes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>